<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reservation Deleted</title>
<link th:href="@{/js/cssandjs/main.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<h2>Your Reservation has been Deleted</h2>
<form th:action="@{/carrental}">
    <input type="submit" value="Go Home" />
</form>
</html>